body {
  margin: 0;
  font-family: 'Open Sans';
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.top{
  position: relative;
  margin-top:2px;
  padding-right: 5px;
}

.menu {
  position: absolute;
  margin-left: 0px;
  margin-top: 0px;
  border-right: 1px solid #ECF1F4;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 15%;
}

.menu-items {
  width: 100%;
  height: auto;
  position:relative;
  left: 0px;
  color: #485572;
  list-style: none;
  text-align: left;
  font-weight: bold;
  padding: 8px;
  margin-left: 2px;
}

.menu-items:hover {
  background-color: #F7F1F3;
  color: #811434;
  font-weight: bold;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-right: 2px solid #811434;
}

.leftAlign {
  margin-left:10px;
}

.footer {
  left: 0;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 1%;
  color: #8C8CA1;
}

.title {
  position: fixed;
  bottom: 20px;
  font-size: 16px;
  font-weight: bold;
}

.copyrights {
  position: fixed;
  bottom : 0px;
  font-size:12px;
}

.overview {
  color: #8C8CA1;
}

.addWine {
  background-color: #EF4859;
  color: white;
  border-radius: 2px;
  padding: 10px;
  font-size: 12px;
}

.rect {
  margin-left:18%;
}

.openOrders {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-top: 1px solid #FFAA2C;
}

.ordersInTransit {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-top: 1px solid #2C67FF;
}

.fulfilledOrders {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-top: 1px solid #00CF3A;
}

.cancelledOrders{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-top: 1px solid #FF1C1C;
}

.details {
  color: #8C8CA1;
  margin:2;
}

.numbers {
  font-size: 20px;
  font-weight: bold;
  margin:2;
}

.overview {
  margin-left:20%;
  font-weight: bold;
  font-size: 20px;
}

.addWine {
  padding: 4px;
  border: none;
  float:right;
  font-weight: bold;
  margin-right: 20px;
  margin-top: 0px;
  cursor: pointers;
}

.items {
  width: 22%;
  height: 6%;
  box-shadow: 3px 3px 3px 3px#E5E5E5;
  border-radius: 6px;
  box-shadow: 3px #E5E5E5;
  padding: 10px;
  margin: 10px;
  float: left;
  font-weight: bold;
  cursor: pointers;
}

.rightAlign {
  margin-left: 28%;
}

.inventoryTitle {
  font-weight: bold;
  font-size: 14px;
  margin-left:20%;
  margin-top: 15%;
}

.table {
  margin-left: 20%;
  border-top: 1px solid #ECF1F4;
  border-bottom: 1px solid #ECF1F4;
  padding: 2%;
  width:75%;
  height: auto;
}

.tRow {
  border-bottom: 1px solid grey;
  padding-bottom: 4%;
  margin: 2%;
}

.headings {
  text-align: left;
  color: #485572;
}

.productname {
  color: black;
  font-weight: bold;
}

.color {
  color: #8C8CA1;
}

.primary-color:checked {
  background-color: #EF4859;
}

.place {
  font-size: 10px;
  color: #8C8CA1;
  text-decoration: none;
  margin-left:18%;
}

.image {
  margin-right:3%;
  margin-left:3%;
}
